# Compiled Object files
*.o
*.obj
*.lst
*.map

# VSCode project files
.vscode

# CCStudio project files
*.wks
*.paf2
*.sbl
*.log
*.lkf
*.CS_
Debug
Release

# Eclipse project files
.settings/

# Keil project files
*.lnp
*.m51
*.plg
*.uvopt
*.localadmin
*.bak
*.iex
*.__i
